.linkBox {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 5px;
  position: relative;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  opacity: 0.7;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 5%;
  letter-spacing: 0.15em;
  z-index: 22;
}

.link:hover {
  transition: 0.3s;
  color: #f00;
}

.icon {
  padding-right: 15px;
  font-size: 26px;
}
