.link {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  opacity: 0.7;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 5%;
  letter-spacing: 0.15em;
  z-index: 22;
  /* border: 1px solid red; */
  border-radius: 25px;
  background-color: rgb(43, 5, 5);
  transition: linear 0.3s;
  -webkit-transition: linear 0.3s;
}

.link:hover {
  color: #f00;
  background-color: rgb(0, 0, 0);
}

.icon {
  padding-right: 15px;
  font-size: 26px;
}
