.cardBox {
  position: relative;
  width: 380px;
  height: 600px;
  border-radius: 25px;
  background: linear-gradient(to left, #11161c 86%, #d1213e 85%);
}

.icon {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: #fff;
  border-radius: 50%;
  z-index: 10;
  left: 10%;
}

.fonIcon:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  top: 10%;
  left: 4%;
  background: #11161c;
  clip-path: polygon(50% 25%, 100% 0, 100% 100%, 50% 75%);
  z-index: 1;
}

.fonIcon::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 185px;
  bottom: 0;
  left: 20px;
  background: #11161c;
  clip-path: polygon(50% 12%, 100% 0, 100% 100%, 50% 88%);
  z-index: 1;
}

.steckIcon {
  top: 10.5%;
}

.linkIcon {
  top: 65%;
}

.gitIcon {
  top: 75%;
}

.contentBox * {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  opacity: 0.7;
}

.contentBox {
  position: absolute;
  left: 20%;
  height: 100%;
  width: 80%;
}

.texnologyBox {
  position: absolute;
  width: 100%;
  top: 8.5%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.link {
  position: absolute;
  width: 80%;
  border: 1px solid #eee;
  text-align: center;
}

.link:hover {
  transition: 0.3s;
  color: rgb(255, 255, 255);
  opacity: 1;
  background-color: #d1213e;
}

.siteLink {
  top: 62%;
  border-radius: 50px 50px 0 0;
}

.gitLink {
  top: 73%;
  border-radius: 0 0 50px 50px;
}

.texnology {
  padding: 5px 15px;
  border: 1px solid #eee;
  border-radius: 25px;
}
