:root {
  --white-color: #ffffff;
  --red-color: #ff0012;
  --b-black-color: #070707;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #5c6679 #2d3748;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
