:root {
  --white-color: #ffffff;
  --red-color: #ff0012;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 46px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
